<div class="modal fade" tabindex="-1" id="connectionsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connector Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible fade show" style="display: none" role="alert"
                     id="savedSuccessfully">
                    <span>Credentials saved!</span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" style="display: none" role="alert"
                     id="failedToSave">
                    <span>Couldn't save or update credentials</span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" style="display: none" role="alert"
                     id="missingInput">
                    <span>Please fill out all input fields.</span>
                </div>
                {% include 'connection_modal/addConnectionForm.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>