<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Connector Tester</title>
</head>
<body>
<div class="container-fluid">
    {% include 'connection_modal/connectionModal.twig' %}
    <h1 class="h1 text-primary">Connector Tester</h1>
    <form action="../action.php" method="post" id="mainForm">
        <div class="row">
            {% include 'connectionForm.twig' %}
            <div class="col-6 my-2">
                {% include 'resultWindows.twig' %}
            </div>
            <div class="col-6 my-2">
                {% include 'payloadWindow.twig' %}
            </div>
        </div>
        {% include 'controls.twig' %}
    </form>
</div>
<script src="../src/script.js"></script>
</body>
</html>