<label for="payload" class="form-label">Payload</label>
<textarea name="payload" id="payload" cols="55" rows="10" class="form-control"></textarea>
<button class="btn btn-info" type="button" id="fetchConnections">Test button</button>